@charset 'UTF-8';

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0:#7E8BD9;
    --cor1:#9AA3D9;
    --cor2:#C4CBF2;
    --cor3:#F2F2F2;
    --cor6:#262626;
    --cor5:#404040;
    --cor7:#fff;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1:'Roboto-Light', sans-serif;
    --fonte2:'Roboto-Bold', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 2em;/*espaço entre linhas*/
    font-family: var(--fonte1);
}

a:link {
    color: #262626;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: nowrap;
}
.menu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color:var(--cor1);
    font-weight: 700;
    font-size: 18px;
}

.menu a{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 15px;
    min-width: 50px;
    box-shadow:2px 0px 5px rgba(0, 0, 0, 0.199);
    height: 20%;
    color: var(--cor7);   
}

.header{
    line-height: 0;/*espaço entre linhas*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    box-shadow:2px 5px 10px rgba(0, 0, 0, 0.199);
    margin: auto;
}

.header-logo{
    padding: 20px;
    margin: auto;
}

.content p{
    color: var(--cor4);
    text-align: justify;
    padding: 20px;
}

.footer{
    box-shadow:2px -5px 10px rgba(0, 0, 0, 0.199);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.footer div{
    margin: 20px;
}

.redes-sociais{
    margin: 0 15px;
}

/*CONTATO*/
.content-contato{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    padding: 5px;
    margin: 30px 0 30px;
}

.borda{
    padding: 10px;
}

.formulario{
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
}

.googlemaps{
   min-width: 250px;
   text-align: center;
}

button{
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: var(--cor1);
    font-weight: bolder;
    color: var(--cor3);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.199);
}

input, textarea{
    border-radius: 5px;
    border: solid 1px #00000048;
}