@charset 'UTF-8';

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0:#B6F2E1;
    --cor1:#9CD9C8;
    --cor2:#D9666F;
    --cor3:#D93D4A;
    --cor6:#8C3041;
    --cor4:#262626;
    --cor5:#404040;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1:'Roboto-Light', sans-serif;
    --fonte2:'Roboto-Bold', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    line-height: 1.5em;/*espaço entre linhas*/
    font-family: var(--fonte1);
    color: white;
}

.container{
    display: flex;
    flex-wrap: nowrap;
}

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow:2px 0px 10px rgba(0, 0, 0, 0.493);
    background-color:var(--cor1);
    font-weight: 700;
    height: auto;
}

.menu a{
    padding: 20px;
    margin: 0.5px 0.5px 0.5px 0.5px;
    min-width: 80px;
    box-shadow: inset 1px 1px 10px 10px rgba(0, 0, 0, 0.171);
}

.header{
    background-color: var(--cor0);
    text-align: center;
    padding: 25px;
    
}

.content p{
    color: var(--cor4);
    text-align: justify;
    padding: 20px;
}

.footer{
    background-color: var(--cor1);
}