@charset 'UTF-8';

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0:#7E8BD9;
    --cor1:#9AA3D9;
    --cor2:#C4CBF2;
    --cor3:#F2F2F2;
    --cor6:#262626;
    --cor5:#404040;
    --cor7:#fff;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1:'Roboto-Light', sans-serif;
    --fonte2:'Roboto-Bold', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 2em;/*espaço entre linhas*/
    font-family: var(--fonte1);
}

a:link {
    color: #262626;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: nowrap;
}

.menu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color:var(--cor1);
    font-weight: 700;
    font-size: 18px;
}

.menu a{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    min-width: 80px;
    box-shadow:2px 0px 5px rgba(0, 0, 0, 0.199);
    height: 20%;
    color: var(--cor7);    
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
    box-shadow:2px 5px 10px rgba(0, 0, 0, 0.199);
    background-image: linear-gradient(180deg,var(--cor3), var(--cor2), var(--cor2), var(--cor3));
}

.header-logo{
    padding: 20px;
    margin: auto;
}

.content p{
    color: var(--cor4);
    text-align: justify;
    padding: 20px;
}

.footer{
    box-shadow:2px -5px 10px rgba(0, 0, 0, 0.199);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.footer div{
    margin: 20px;
}

.redes-sociais{
    margin: 0 15px;
}