@charset 'UTF-8';

@font-face {
    font-family: 'Netflix Bold';
    src: url('../fonts/NetflixSans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Medium';
    src: url('../fonts/NetflixSans-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Light';
    src: url('../fonts/NetflixSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --vermelho:#E50914;
    --preto:#141414;
    --fontebold: 'Netflix Bold';
    --fontelight: 'Netflix Light';
    --fontemedium: 'Netflix Medium'
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Não ultrapassar a borda da caixa*/
    background-color: var(--preto);
    font-family: var(--fontemedium);
    text-decoration: none;
    color: white;
}